:root {
  --fc-border-color: #444; /* fullcalendar */
  --fc-today-bg-color: #444;

  --fc-page-bg-color: #222;

  --fc-neutral-bg-color: #444;

  --fc-button-bg-color: var(--pico-primary);
  --fc-button-text-color: black;
  --fc-button-border-color: var(--pico-primary);
  --fc-button-hover-bg-color: #444;
  --fc-button-hover-text-color: white;
  --fc-button-active-bg-color: #222;
  --fc-button-active-text-color: var(--pico-primary);

  --fc-list-event-hover-bg-color: #444;
}

body {
  padding: 3em;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.button {
  background-color: var(--pico-primary);
  color: var(--pico-contrast-inverse);
  padding: 5px 10px;
  border-radius: 2px;
  text-decoration: none;
}

.tippy-box[data-theme~="myTheme"] {
  padding: 0.5rem;
  background-color: black;
  color: white;
  border: 1px solid var(--pico-primary);
  border-radius: 5px;
}

#calendar {
  padding-top: 1rem;
}

.fc-button {
  border-radius: 0 !important;
  z-index: 1;
}

.fc-button:hover:not(:disabled) {
  color: white !important;
}

.fc-button-group:hover {
  box-shadow: 5px 5px 0 #000;
}

.fc-button:focus {
  box-shadow: 5px 5px 0 #000 !important;
}

.fc-button-active {
  background-color: #222 !important;
  color: var(--pico-primary) !important;
  box-shadow: 5px 5px 0 #000;
  z-index: -10;
  position: relative;
}

.fc-daygrid-event:hover {
  background-color: black !important;
  border-color: black !important;
}

@media (width <= 768px) {
  #calendar {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}
