{% extends "base" %}
{% block title %} {{title}} {{semester}} - EWU iCal Generator {% endblock title %}
{% block content %}
<h1>{{semester}} {{title}}</h1>
<p>
  <a href="/generate?calendar_path={{path}}">Download</a>
  calendar file (.ics) or <a href="/">click here</a>
  to import into your Google Calendar account.
</p>
{% endblock content %}
